a:link, a:visited {
  background-color: #1a94fe;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #166ab4
  

